@using Vjezba.Model
@model List<ThreeD>

<table style="margin-top: 20px;" class="table table-condensed">
    <thead>
        <tr>
            <th>Model name</th>
            <th>Model comment</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">@item.Name</a>
                </td>
                <td>@item.Name</td>
                <td>@item.Comment</td>
                @*<td>@item.City?.Name</td>*@
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">[details]</a>
                </td>
            </tr>
        }
    </tbody>
</table>